.divpadre{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
}
.divcontainer{
    width: 90%;
    height: 7rem;
    margin: 1%;
    padding: 0.5% 0.5%;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
    border-bottom: 0.5px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px;
}
.imagenMap{
    max-width: 3rem;
}

.botonEstilado{
    margin: 1%;
    width: 80px;
    height: 40px;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #ff5a5a;
    color: white;
    font-family: inherit;
    text-align: center;
    box-shadow: 0px 14px 56px -11px #ff5a5a;
    padding: 0.1em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffff;
}

.parrafo{
    margin: 1%;
    width: 23rem;
    height: 1.5rem;
    display: inline-block;
    background: #5a9cff;
    color: white;
    border-radius: 3px;
    font-family: inherit;
    text-align: center;
    padding: 0.15em;
    font-weight: bold;
    font-size: 1rem;
    color: #ffff;
}


.card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 20rem;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 5%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -100px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        background: linear-gradient(293deg, rgb(142, 142, 255) 0%, 
        rgb(72, 225, 255) 100%);
}


.tituloCard, .subtituloCard{
    text-align:center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgb(57, 57, 57);
}

.subtituloCard{
margin-top: 3%;
font-size: 1.3rem;
color: darkblue;
}

.centrarButton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3%;
    margin-right: 8%;
}

