.divpadre{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
}
.divcontainer{
    width: 90%;
    height: 7rem;
    margin: 1%;
    padding: 0.5% 0.5%;
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
    border-bottom: 0.5px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px;
}
.imagenMap{
    max-width: 3rem;
}

.botonEstilado{
    margin: 1%;
    width: 80px;
    height: 40px;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #ff5a5a;
    color: white;
    font-family: inherit;
    text-align: center;
    box-shadow: 0px 14px 56px -11px #ff5a5a;
    padding: 0.1em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffff;
}

.parrafo{
    margin: 1%;
    width: 23rem;
    height: 1.5rem;
    display: inline-block;
    background: #5a9cff;
    color: white;
    border-radius: 3px;
    font-family: inherit;
    text-align: center;
    padding: 0.15em;
    font-weight: bold;
    font-size: 1rem;
    color: #ffff;
}

.vacio{
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    margin: 1%;
    margin-top: 2%;
    color: #ff5a5a;
}
