.container{
    height: 80vh;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 28rem;
    border: 1px solid #2E498F;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px 4px;  
}

.title{
color: #2E498F;
font-weight: bold;
font-style: oblique;
margin: 2%;
}

.price{
font-style: oblique;
margin: 1%;
}

.description{
text-align: center;
font-style: oblique;
margin: 1%;
}

.category{
font-style: oblique;
margin: 1%;
}

.image{
max-width: 40%;
object-fit: contain;
border-radius: 8px;
}

.botonCart{
    display: grid;
    place-items: center;
    margin-bottom: 1%;
}