.botonEstilado{
    margin-right: 5px;
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #5a9cff;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    padding: 1em;
    cursor: pointer;
}

.link{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffff;
}