.container{
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #f6f6f6;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
}

.containerinterno{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;

}
.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
    margin: 5%;
   }
   
   .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
   }
