.divcontainer{
    display: flex;
    margin: 2% 0% 2% 2%;
    border: 0.5px solid rgb(123, 167, 248);
    box-shadow: 0px 1px 3px 0px;
    border-radius: 15px;
    padding: 2%;
    transition: ease-in 1s;
}


.divflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.titulo{
    color: rgb(123, 167, 248);
    font-size: 1.3rem;
    margin: 2%;
}

.imgg{
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.butt{
    margin-right: 5px;
    width: 70px;
    height: 40px;
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #5a9cff;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    padding: 1em;
    cursor: pointer;
}