.navitem{
    list-style: none;
    color: #426ACF;
    border: 1px solid #426ACF;
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    
}
.lista{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

}
.navitem:hover{
    background-color: #2E498F;
    color: black;
}